@model SmallPhotos.Web.Model.Gallery.IndexViewModel

@section Scripts {
<script type="text/javascript">
    $(function() {
        $(window).on('resize', fullSizeImage);
        fullSizeImage();
    });
</script>
}

<aside>
    <nav>
        <ul>
            <li><a href="/">Nav link 1</a></li>
            <li><a href="/">Nav link 2</a></li>
        </ul>
    </nav>
</aside>

<article>
    <p>
        Prev | Next
    </p>
    <p>
        <img id="fullimg" src="/photo/@(Model.Photo.PhotoId)/@(Model.Photo.Filename)" />
    </p>
    <p>
        Prev | Next
    </p>
</article>