@model SmallPhotos.Web.Model.Gallery.IndexViewModel

@section Scripts {
<script type="text/javascript">
    $(function() {
        $(window).on('resize', fullSizeImage);
        fullSizeImage();
    });
</script>
}


<style>

.pagination {
  margin-top: 10px;
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #6be1ff;
  color: white;
}

.pagination a:hover:not(.active) {
    background-color: #f86bff;
}

</style>

<aside>
    <nav>
        <ul>
            <li><a href="/">Nav link 1</a></li>
            <li><a href="/">Nav link 2</a></li>
        </ul>
    </nav>
</aside>

<article>
    <div>Taken: 20th Dec 2020</div>

    <div class="pagination">
        <a href="/?photoId=@(Model.Photo.PhotoId)#@(Model.Photo.PhotoId).@(Model.Photo.Filename)">&lsaquo; Thumbnails</a>
        <a href="#">&laquo; Prev (#9 of 101)</a>
        <a href="#">Next  (#11 of 101) &raquo;</a>
    </div>

    <p>
        <img id="fullimg" src="/photo/@(Model.Photo.PhotoId)/@(Model.Photo.Filename)" />
    </p>

    <div class="pagination">
        <a href="/?photoId=@(Model.Photo.PhotoId)#@(Model.Photo.PhotoId).@(Model.Photo.Filename)">&lsaquo; Thumbnails</a>
        <a href="#">&laquo; Prev (#9 of 101)</a>
        <a href="#">Next  (#11 of 101) &raquo;</a>
    </div>

</article>