@model SmallPhotos.Web.Model.Home.IndexViewModel

<aside>
    <nav>
        <ul>
            <li><a href="/">Nav link 1</a></li>
            <li><a href="/">Nav link 2</a></li>
        </ul>
    </nav>
</aside>

<h3>Home page</h3>
