@model SmallPhotos.Web.Model.Home.IndexViewModel

<aside>
    <nav>
        <ul>
            <li><a href="/">Nav link 1</a></li>
            <li><a href="/">Nav link 2</a></li>
        </ul>
    </nav>
</aside>

<article>
    <p>
    @if (Model.Photos.Any()) {
    <ul>
        @foreach(var photo in Model.Photos) {
            <li><a href="/gallery/@(photo.PhotoId)/@(photo.Filename)"><img src="/photo/thumbnail/@(Model.ThumbnailSize)/@(photo.PhotoId)/@(photo.Filename)" width="@(photo.Size.Width)" height="@(photo.Size.Height)" /></a></li>
        }
    </ul>
    } else {
        <text>You have no photos. Add a collection to your library in your <a href="/profile">profile</a>.</text>
    }
    </p>
</article>